<div class="container">
  <div class="card">
    <div class="header"> </div>
    <div class="avatar">
      <img class="profile-image" src="/assets/img/avatar.jpg">
    </div>
    <div class="profile-content">
      <h1 class="profile-name">Lijo Joseph </h1>
      <h1 class="profile-header">Full stack Developer</h1>
      <p>
        Consultant at Allstate Pivate Solutions <br> Bengaluru karnataka India<br> Javascipt Ninga programmer</p>
      <div class="profile-icons "><img class="profile-icon " src="/assets/icons/profile/js.png" >
        <img class="profile-icon" src="/assets/icons/profile/angular.png" >
         <img class="profile-icon" src="/assets/icons/profile/node.png">
          <img class="profile-icon" src="/assets/icons/profile/angular.png" >
         <img class="profile-icon" src="/assets/icons/profile/node.png">
          <img class="profile-icon" src="/assets/icons/profile/angular.png" >
      </div>
    </div>
  </div>
</div>