/*.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 3px;
     
}*/
/*.card{
  
  background: #FFF;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;

}*/
.header{
    /*background: #ACC0E9;*/
     height: 250px;
    border-radius: 4px 4px 0 0;
    /*background-image: url("/assets/img/Capture.png");*/
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
}
.profile-image{
      border-radius: 50%;
      height: 150px;
      
      
      border: 8px solid #FFF;
      box-shadow: 0 3px 6px rgba(#ACC0E9,.5);
}
.avatar{
    height: 50%;
     position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
    
}
.profile-content{
     text-align: center;
      margin: 6% 20% 2% 20%;  
      height: 60%;
        /*background-color:aliceblue;*/
    }
    .profile-name{
        font-family: 'Acme', sans-serif;
    }
    
    p{
        margin-top: -8px;
        font-family: 'Acme', sans-serif;
        font-size-adjust: 15px;
    }
    .profile-header{
       font-size: 20px;
       margin-top: -11px;
    }
    /*.profile-icons{
        /*width: 50%;
        height: 50%;
    }*/
        .profile-icon{
            border-radius: 50%;
            margin-left: 2px;
            width: 50px;
            height: 50px;
        }
@media only screen and (max-width: 500px) {
    .profile-image {
        top: 23%;
        height: 70%;
    }
    .profile-content{
        margin: 26% 8% -4% 8%; 
        height: 45%;
    }
    .profile-name{
        font-size: 25px;
    }
    .profile-header{
       font-size: 16px;
    }
    .profile-icons{
      margin-top: -13px;
    }
    .profile-icon{
        width: 30px;
        height: 30px;
    }
    .header{
        height: 100px;
    }
    .container{
        margin-top: 8%;
    }
    .avatar{
        margin-top: -35%;
    }
}
