<div class="container">
  <!--<div class="card">
    <div class="project-header" color="primary">
      <mat-toolbar color="primary" class="project-header">
        <mat-icon>bookmark</mat-icon>
        <span>Projects</span>
      </mat-toolbar>
    </div>
    <div class="project-content">
      <div class="project-item-one" (click)="openDialog()">
        <div>
          <h1 align="center" class="project-name">ProjectOne</h1>
          <div class="project-item-content">
            <ul>
              <li>
                <div class="project-item-content-tech">
                  <mat-icon class="icon">code</mat-icon>
                  <h1 class="project-item-font">dotnet,sqlserver</h1>
                </div>
              </li>
              <li>
                <div class="project-item-content-tech">
                  <mat-icon class="icon">perm_data_setting</mat-icon>
                  <h1 class="project-item-font">Health & life sciemce</h1>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="project-item-two">
        <div>
          <h1 align="center" class="project-name">ProjectOne</h1>
        </div>
      </div>
      <div class="project-item-one">
        <div>
          <h1 align="center" class="project-name">ProjectOne</h1>
        </div>
      </div>
    </div>
  </div>-->
  <carousel>
  <slide>
    <img src="assets/images/nature/4.jpg" alt="First slide" style="display: block; width: 100%;">dfsdfdsffsdfsdf
     <img src="assets/images/nature/5.jpg" alt="Second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/nature/5.jpg" alt="Second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/nature/6.jpg" alt="Third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
</div>