.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -5%;
     
}
.card{
  display: flex;
  background: #FFF;
  flex-direction: column;
  width: 100%;
  height: 70%;
  /*border-radius: 4px;*/
  position: relative;
  /*box-shadow: 0 3px 3px rgba(#E0E7F5,.5);*/
}
.project-content{
  display: flex;
  flex-direction: row;
  height: 100%;
 
}
.project-header{
  
   border-radius: 4px 4px 0px 0px;
}
/*.project-item-one{
  
  flex-grow: 1;
  background-color: aqua;
   border-radius: 4px 4px 4px 4px;
}
.project-item-two{
  
  flex-grow: 1;
  background-color:whitesmoke;
   border-radius: 4px 4px 4px 4px;
}
.project-item-content{
  text-align: center;
  margin-left: 8%;
}
.project-item-font{
  align-content: center;
   font-family: 'Acme', sans-serif;
}*/
.project-header{
  border-radius: 4px 4px 0px 0px;
}
.project-name{
  font-family: 'Acme', sans-serif;
}
.project-item-content-tech{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.icon{
  margin-top: 5%;
  margin-right: 4%;
}
@media only screen and (max-width: 500px) {
.project-name{
  font-size: 20px;
  }
  .project-item-font{
    font-size: 15px;
  }
} 