<!--<div class="container">
  <div class="card">
    <div class="project-header" color="primary">
      <mat-toolbar color="primary" class="project-header">
        <mat-icon>bookmark</mat-icon>
        <span>Projects</span>
      </mat-toolbar>
    </div>
    <div class="project-content">
      <div class="project-item-one" (click)="openDialog()">
        <div>
          <h1 align="center" class="project-name">ProjectOne</h1>
          <div class="project-item-content">
            <ul>
              <li>
                <div class="project-item-content-tech">
                  <mat-icon class="icon">code</mat-icon>
                  <h1 class="project-item-font">dotnet,sqlserver</h1>
                </div>
              </li>
              <li>
                <div class="project-item-content-tech">
                  <mat-icon class="icon">perm_data_setting</mat-icon>
                  <h1 class="project-item-font">Health & life sciemce</h1>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="project-item-two">
        <div>
          <h1 align="center" class="project-name">ProjectOne</h1>
        </div>
      </div>
      <div class="project-item-one">
        <div>
          <h1 align="center" class="project-name">ProjectOne</h1>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="card">
    <div class="project-header" color="primary">
      <mat-toolbar color="primary" class="project-header">
        <mat-icon>bookmark</mat-icon>
        <span>Projects</span>
      </mat-toolbar>
    </div>
    <app-carousal></app-carousal>
  </div>
</div>