<mat-card>

  <div class="fbox" fxLayout="column" >
    <div class="fbox-top-item" fxLayout="row" fxLayoutAlign="center" fxFlex.gt-sm="30" fxFlex="20">
      <div fxFlex.gt-sm="100" fxFlex="98">
     <app-profile> </app-profile>
      </div>
    </div>
    <div class="fbox-item" fxLayout="row" fxLayoutAlign="center" fxFlex.gt-sm="40" fxFlex="20">
      <div fxFlex.gt-sm="100" fxFlex="98">
      <app-projects> </app-projects>
      </div>
    </div>
    <!--<div fxLayout="row" fxLayoutAlign="center" fxFlex.gt-sm="30" fxFlex="20">
      <div fxFlex.gt-sm="100" fxFlex="98">
        <app-projects> </app-projects>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex.gt-sm="60" fxFlex="98">
        <app-experiance></app-experiance>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex.gt-sm="60" fxFlex="98">
        <app-education></app-education>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex.gt-sm="60" fxFlex="98">
        <app-achievements></app-achievements>
      </div>
    </div>-->
  </div>

</mat-card>
