<div class="container">

  <div class="project-header" color="primary">
    <mat-toolbar color="primary" class="project-header">
      <mat-icon>bookmark</mat-icon>
      <span>Technical Graph</span>
    </mat-toolbar>
  </div>
  <div class="content">
    <!--<div class="tech-bar">need to add each skill and pecentage</div>-->
    <div class="tech-chart">
      <canvas baseChart [data]="doughnutChartData"  [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>